/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  position: relative;
  margin: 0px;
  height: 344px;
}
.topAlbumContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95% !important;
  justify-content: center!important;
  align-items: center!important;
  background-color: #121212;
  ;
  gap: 1.5rem;
}
.carouselContainer{
  position: relative;
  display: flex;
}
.heading{
  font-family: 'Poppins',sans-serif;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  display:flex;
  justify-content: flex-start!important;


}
.buttonClass{
  background-color: none !important;
  border: none!important;
  font-family: 'Poppins',sans-serif;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: right;
  background-color: #121212;
  color: #34C94B;
  ;
}
Slider button{
  color: #34C94B;
}